.banner-container {
  width: 100%;
  height: 285px;
  margin-inline: auto;
  background: url("../../assets/banner diskon.jpg") no-repeat center center;
  background-size: contain;
  border-radius: 45px;
  position: relative;
}

.promo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 160px;
  height: 60px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 21000px;
  bottom: 30px;
  right: 25px;
  font-size: 20px;
  font-weight: 600;
  transition: all 300ms ease;
}

.promo-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
